<?xml version="1.0" ?>
<robot name="tram">
    <material name="red">
        <color rgba="1 0 0 1.0" />
    </material>

    <link name="body">
        <visual>
            <origin rpy="0.0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://space_challenger_simulation/meshes/tram_body.stl" scale="0.001 0.001 0.001"/>
                <material name="red" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://space_challenger_simulation/meshes/tram_body.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    <inertial>
      <origin xyz="0.34 0.17 0.1" rpy="0 0 0"/>
      <mass value="5"/>
      <inertia ixx="1.0e-02" ixy="1.0e-02" ixz="1.0e-02" 
               iyx="0.0" iyy="1.0e-02" iyz="1.0e-02" 
               izx="0.0" izy="0.0" izz="1.0e-02" />
    </inertial>
    </link>

    



<gazebo>
      <!--plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotNamespace>/simple_tracked</robotNamespace>
          <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin-->

        <!--plugin filename="libKeysToCmdVelPlugin.so" name="keyboard_control">
          <publish_as_twist>true</publish_as_twist>
          <cmd_vel_topic>~/simple_tracked/cmd_vel_twist</cmd_vel_topic>
      </plugin-->

          <!--plugin filename="libSpaceChallengerPlugin.so" name="simple_tracked_vehicle">
          <body>base_link</body>
          <left_track>left_track</left_track>
          <right_track>right_track</right_track>
          <left_flipper>front_left_flipper</left_flipper>
          <left_flipper>rear_left_flipper</left_flipper>
          <right_flipper>front_right_flipper</right_flipper>
          <right_flipper>rear_right_flipper</right_flipper>
          <track_mu>2</track_mu>
          <track_mu2>0.5</track_mu2>
      </plugin-->
</gazebo>

    <!--transmission name="tran1">
          <type>transmission_interface/SimpleTransmission</type>
          <joint name="front_left_flipper_j">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          </joint>
          <actuator name="motor1">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
      </transmission>

      <transmission name="tran2">
          <type>transmission_interface/SimpleTransmission</type>
          <joint name="front_right_flipper_j">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          </joint>
          <actuator name="motor2">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
      </transmission-->

</robot>
